body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url(../imgs/cloudBG.png);
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

/*---------------------*/
/* Navbar */

nav {
    display: flex;
    background-color: #CFD9FF;
    flex-direction: row;
    justify-content: flex-end;
}

.home {
    justify-self: flex-start;
}

/*---------------------*/
/* Assits Positions*/

article {
    margin: 2rem;
}

/*---------------------*/
/*Sidebar*/

.sidebar {
    display: flex;
    flex-flow: column wrap;
    height: 790px;
    width: 160px;
    position: absolute;
    align-items: center;
    left: 0;
    top: 94px;
    gap: 15px;
    padding-top: 16px;
    border: 3px solid #7378D3;
    background-color: #EFF3FF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.sidebar > a {
    padding: 10px;
    width: 90%;
    text-decoration: none;
    text-align: center;
    color: white;
    border-radius: 10px;
    border: 2px solid #757ACB;
    background: #2E4088;
}

.sidebar > a:hover {
    background-color: #7378D3;
}

/*--------------------*/
/* Text */
.text {
    display: flex;
    flex-direction: column;
    margin-left: 11rem;
    margin-top: -2rem;
}

.main {
    gap: 35px;
}

.main > input {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #7378D3;
    background-color: #CFD9FF;
}

.main > button.add {
    font-size: 35px;
    width: 83px;
    height: 83px;
    border-radius: 100%;
    border: 2px solid #7378D3;
    background-color: white;
    color: black;
}

.main > button.add:hover {
    cursor: pointer;
    background-color: lightgray;
}

.main > button:hover {
    cursor: pointer;
    background-color: #757ACB;
}

.main > button {
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: 2px solid #757ACB;
    background: #2E4088;
}