body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url(imgs/PawBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}
.bar {
    background-color: #CFD9FF;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.bar > a{
    width: 100px;
}
/*----------------------------------*/
/*Hero text*/

main {
    margin: 1rem;
    margin-top: 2rem;
}
main > img {
    width: 45%;
    height: auto;
    float: left;
    margin: 1rem;
}

main > .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main > .hero > .header {
    justify-self: flex-end;
    text-align: left;
    font-size: 45px;
    gap: 1rem;
}

main > .hero > p {
    font-size: 25px;
    max-width: 600px;
}

main > .start {
    display: flex;
    background-color: #8B8DC4;
    justify-self: center;
    color: white;
    border: none;
    border-radius: 32px;
    padding: 1rem 2rem;
    font-size: 18px;
    margin: 2rem;
    a {
        color: white;
    }
}

/*----------------------------------*/
/* Info boxes*/

div.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 980px;
    margin: 3rem auto;
    border-radius: 32px;

}

div.cards > section {
    width: 49%;
    height: auto;
    background: rgba(182, 192, 236, 0.73);

    border: #6369DD 4px solid;
    padding: 1rem;
    border-radius: 32px;
}

div.cards > section > h2 {
    font-size: 50px;
    margin-top: 0;
    text-align: center;
}
div.cards > section > p {
    font-size: 40px;
    line-height: 1.5;
    text-align: center;
}

/* last banners*/

.end > div.boxes {
    display: flex;
    flex-direction: column;
}

.end > .boxes > p {
    margin: 1rem;
}
.graphs {
    background-color: white;
    width: 100%;
    padding: 2rem;
}
.graphs > h2{
    text-align: center;
    font-size: 40px;
}

.graphs > .text > p {
    font-size: 40px;
}

.graphs > .text > img {
    float: left;
    margin: 1rem;
    width: 50%;
    border-radius: 32px;
    border: #6369DD solid 5px;
}

.list {
    padding: 2rem;
    background-color: #8B8DC4;
}
.list > h2{
    text-align: center;
    font-size: 40px;
    justify-self: center;
}

.list > .text > p {
    font-size: 40px;
    margin-top: 5rem;
}

.list > .text > img {
    float: left;
    margin: 1rem;
    width: 50%;
    border-radius: 32px;
}