body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url(imgs/PawBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}
.bar {
    background-color: #CFD9FF;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.bar > a{
    width: 100px;
}
/*----------------------------------*/
/*Hero text*/

main {
    margin: 1rem;
    margin-top: 2rem;
}
main > img {
    width: 45%;
    height: auto;
    float: left;
    margin: 1rem;
}

main > .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main > .hero > .header {
    justify-self: flex-end;
    text-align: left;
    font-size: 45px;
    gap: 10px;
    margin: 5px;
}

main > .hero > p {
    font-size: 35px;
    margin-top: -10px;
    line-height: 1.5;
}

button.start {
    margin-top: 50px;
    align-self: flex-end;
    background-color: #7378D3;
    border: none;
    font-size: 40px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 2rem;
    a {
        color: white;
    }
}

/*----------------------------------*/
/* Info boxes*/

div.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 980px;
    margin: 3rem auto;
    border-radius: 32px;

}

div.cards > section {
    width: 49%;
    height: auto;
    background: rgba(182, 192, 236, 0.73);

    border: #6369DD 4px solid;
    padding: 1rem;
    border-radius: 32px;
}

div.cards > section > h2 {
    font-size: 50px;
    margin-top: 0;
    text-align: center;
}
div.cards > section > p {
    font-size: 40px;
    line-height: 1.5;
    text-align: center;
}

/* last banners*/

.end > div.boxes {
    display: flex;
    flex-direction: column;
}

.end > .boxes > p {
    margin: 1rem;
}
.graphs {
    background-color: rgba(121, 128, 192, 0.73);
    border: #7378D3 4px solid;
    border-radius: 32px;
    padding: 1rem;
    margin: 2rem;
}
.list {
    background-color: rgba(182, 192, 236, 0.73);
    border: #6369DD 4px solid;
    border-radius: 32px;
    padding: 1rem;
    margin: 2rem;
}

.end > div.boxes > section > .text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.end > div.boxes > section > .text > img {
    width: 40%;
    margin: 1rem;
    object-fit: contain;
}
.end > div.boxes > section > .text > p {
    font-size: 35px;
    padding-left: 1rem;
    line-height: 1.5;
}

@media (max-width: 768px) {
    main > img {
        float: none;
        width: 80%;
        margin: 1rem auto;
    }

    div.cards {
        flex-direction: column;
    }

    div.cards > section {
        width: 100%;
        margin-bottom: 20px;
    }

    .end > div.boxes > section > .text {
        flex-direction: column;
        text-align: center;
    }

    .end > div.boxes > section > .text > img {
        width: 60%;
    }
}