* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h3{
    text-align: center;
}

h3{
    font-size: 30px;
    margin: 7px;
}

nav{
    /*navbar*/
    margin: -8px;
    display: flex;
    background-color: #CFD9FF;
    justify-content: space-between;
    flex-direction: row;
}

.home{
    /*Navbar fix to get the pawpal logo on the left*/
    justify-self:flex-start;
}
 
body {
    /*Basic bg settings*/
    background-image: url("../imgs/cloudBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

li{
    /*I do NOT like bullet points*/
    list-style-type: none;
}


main{
    gap: 15px;
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 100px;
    grid-template-rows: 100px 1.5fr 1fr 100px;
    grid-template-areas: 
    ". . h . ."
    ". bruno recent appt ."
    ". daily daily appt ."
    ". . activ . .";
}

h1{
    grid-area: h;
}

.petImg{
    width: 500px;
    grid-area: bruno;
    border-radius: 10px;
    border: 2px solid #7378D3;
}

.daily-tasks{
    background-color: #CFD9FF;
    grid-area: daily;
    border: 2px solid #7378D3;
    border-radius: 10px;
}

.recent{
    background-color: #CFD9FF;
    grid-area: recent;
    border: 2px solid #7378D3;
    padding: 20px;
    border-radius: 10px;
}

.appointments{
    background-color: #CFD9FF;
    grid-area: appt;
    border: 2px solid #7378D3;
    padding: 20px;
    border-radius: 10px;
}

.graphs{
    grid-area: activ;
}

li{
    padding: 0;
    margin: 5px;
    border: 2px solid #7378D3;
}

ul{
    padding-left: 0px;
}

.daily-tasks{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.daily-tasks li{
    border: none;
    margin: 5px
}










