nav{
    /*navbar*/
    margin: -8px;
    display: flex;
    background-color: #CFD9FF;
    justify-content: space-between;
    flex-direction: row;
}

.home{
    /*Navbar fix to get the pawpal logo on the left*/
    justify-self:flex-start;
}
 
body {
    /*Basic bg settings*/
    background-image: url("../imgs/cloudBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*---------------------*/
/* Assits Positions*/

article {
    margin: 2rem;
}

/*---------------------*/
/*Sidebar*/

.sidebar {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    width: 160px;
    position: absolute;
    align-items: center;
    left: 0;
    top: 94px;
    gap: 15px;
    padding-top: 16px;
    border: 3px solid #7378D3;
    background-color: #EFF3FF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.sidebar > a {
    padding: 10px;
    width: 70%;
    text-decoration: none;
    text-align: center;
    color: white;
    border-radius: 10px;
    border: 2px solid #757ACB;
    background: #2E4088;
}

.sidebar > a:hover {
    background-color: #7378D3;
}

/*--------------------*/
/* Text */

.text {
    display: flex;
    flex-direction: column;
    margin-left: 11rem;
    margin-top: -2rem;
}
.main {
    gap: 35px;
}

.text > .btns > .main > button {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 2rem;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    border: 2px solid #000;
    background: #F00;
}
.text > .btns > .main > button:hover {
    cursor: pointer;
    background: #0F0;
}

.text > .btns > .main > h3 {
    text-align: left;
    margin-left: 4rem;
    margin-top: -55px;
    
}


@media (max-width) {
    nav: ;
}
