* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    /*navbar*/
    margin: -8px;
    display: flex;
    background-color: #CFD9FF;
    justify-content: space-between;
    flex-direction: row;
}

.home {
    /*Navbar fix to get the pawpal logo on the left*/
    justify-self: flex-start;
}

body {
    /*Basic bg settings*/
    background-image: url("../imgs/cloudBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Hide all graphs by default */
.walk-graph,
.weight-graph,
.outdoors-graph {
    display: none;
}

/* Show only the active one */
.active-graph {
    display: block;
    border: 2px solid #7378D3;
    padding: 20px;
    max-width: fit-content;
    border-radius: 10px;
    background-color: #cfd9ffb4;
    margin: 40px;
}

.graph-img {
    border-radius: 10px;
}


.select {
    border: 2px solid #7378D3;
    width: 150px;
    padding: 20px;
    border-radius: 10px;
    background-color: #cfd9ffb4;
}


main {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 800px) {
    /* Larger tablets: Make content stretch a bit more */
    .active-graph {
        max-width: 90%; 
        margin: 30px 10px; /* Less margin on the sides */
        padding: 15px;
    }

    .graph-img {
       /* Make the img fill */
        width: 100%;
    }
}



@media (max-width: 550px) {
    /* Smaller screens/phones */
    .active-graph{
        width: 90%;
        margin: 20px 5px; 
    }

    .graph-img{
        /* Make the image always fill its container */
        width: 100%;
    }
    
    .select {
        /* Make the selector box fill more space */
        width: 90%; 
        padding: 15px;
    }
    
    main {
        margin: 20px 0; /* Less vertical margin on main container */
    }
}

@media (max-width: 390px) {
    /* small phones*/
    nav img, .home img {
        /* Shrink nav images */
        width: 45px;
    }

    nav {
        /* Navbar wrapping */
        flex-wrap: wrap;
        justify-content: center;
    }
}