body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url(../imgs/cloudBG.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* {
    box-sizing: border-box;
}

/*---------------------*/
/* Navbar */

nav {
    display: flex;
    background-color: #CFD9FF;
    flex-direction: row;
    justify-content: flex-end;
}

.home {
    justify-self: flex-start;
}

/*---------------------*/
/* Assits Positions*/

main {
    margin: 2rem;
}

/*---------------------*/
/*Button settings */

main > button {
    margin-right: 5px;
    padding: 10px;
    width: 10%;
    color: white;
    border-radius: 10px;
    border: 2px solid #757ACB;
    background: #2E4088;
}

main > button:hover {
    background-color: #7378D3;
}

/*---------------------*/
/*Mail text*/

 .text {
    display: flex;
    flex-flow: column wrap;
    margin-left: 2rem;
 }

.text > p {
    padding: 1rem;
    width: 75%;
    border-radius: 10px;
    border: 3px solid #7378D3;
    background: #CFD9FF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.text > h3 {
    margin-bottom: -5px;
}
.text > p.time {
    padding: 0;
    width: 5%;
    text-align: center;
    background-color: red;
}