nav{
    /*navbar*/
    margin: -8px;
    width: 100%;
    padding: 5px;
    display: flex;
    background-color: #CFD9FF;
    justify-content: space-between;
    flex-direction: row;
}

.home{
    /*Navbar fix to get the pawpal logo on the left*/
    justify-self:flex-start;
}
 
body {
    /*Basic bg settings*/
    background-image: url("../imgs/cloudBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
.bar {
    background-color: #CFD9FF;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
/*---------------------*/
/* Assits Positions*/

main {
    margin: 2rem;
}

/*---------------------*/
/*Button settings */

main > button {
    margin-right: 5px;
    padding: 10px;
    width: 10%;
    color: white;
    border-radius: 10px;
    border: 2px solid #757ACB;
    background: #2E4088;
}

main > button:hover {
    background-color: #7378D3;
}

/*---------------------*/
/*Mail text*/

 .text {
    display: flex;
    flex-flow: column wrap;
    margin-left: 2rem;
 }

.text > p {
    padding: 1rem;
    width: 75%;
    border-radius: 10px;
    border: 3px solid #7378D3;
    background: #CFD9FF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.cards > .text > .time {
    text-align: right;
    margin-right: 90px;
    margin-top: -48px;
}