body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url(../imgs/cloudBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}
.bar {
    background-color: #CFD9FF;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.bar > a{
    width: 100px;
}

/* Assits Positions*/

main {
    margin: 2rem;
}

main > button {
    padding: 10px;
    width: 10%;
    color: white;
    border-radius: 10px;
    border: 2px solid #757ACB;
    background: #2E4088;

}

 .text {
    margin: 2rem;

 }

.text > p {
    padding: 1rem;
    width: 75%;
    border-radius: 10px;
    border: 3px solid #7378D3;
    background: #CFD9FF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
