* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    margin: -8px;
    display: flex;
    background-color: #CFD9FF;
    justify-content: space-between;
    flex-direction: row;
}

.home{
    justify-self:flex-start;
}
 
body {

    background-image: url("../imgs/cloudBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}




main{
    gap: 50px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 20px;
    grid-template-areas: 
    ". h h ."
    ". img info ."
    ". add add .";
    
    
}
h1{
    margin-bottom: -30px;
    grid-area: h; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.pet-info{
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid #7378D3;
    width: 438.441px;
    height: 388.537px;
    border-radius: 10px;
}

.pet-img{
    grid-area: img;
    color: transparent;
    border: 2px solid #7378D3;
    border-radius: 10px;
    width: 438.441px;
    height: 388.537px;
    text-align: center;
    cursor: pointer;
    background-image: url(../imgs/plus.png);
    background-size: cover;
}

/* the no file chosen button is ugly so byebye */
.pet-img::file-selector-button {
    display: none;
}

.pet-img {
    color: transparent;
}

.pet-img:hover {
    content: add a pet!;
}

.addPetButton{
   grid-area: add;
   background: #7378D3;
   width: 150px;
   margin-left: 390px;
   height: 30px;
   border-radius: 10px;
   
}

[type="text"], [type="date"]{
    margin: 0px 25px;
    border-radius: 10px;
    border: 2px solid #7378D3;
    background-color: #CFD9FF;
    height: 60px;
}

@media (max-width: 1000px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .addPetButton{
        margin-left: 0px;
    }

}

@media (max-width: 500px) {
    
    main{
        gap: 20px;
    }
    .pet-info, .pet-img{
        width: 300px;
        height: 250px;
        gap: 10px;
    }

    h1{
        margin-bottom: 5px;
    }

    .pet-info{
        padding: 10px 0px;
    }
    
}


@media (max-width: 390px) {
    
    .pet-info, .pet-img{
        width: 250px;
        height: 200px;
        gap: 5px;
    
}

    a>img{
        flex-direction: column;
        width: 40px;
    }

}